html,
body {
  font-family: "Avenir Next";
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

#navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 10px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}

#navbar-right {
  display: flex;
  align-items: center;
}

#join-discord-container {
  text-transform: uppercase;
  transition: letter-spacing 0.2s;
  font-weight: bold;
  background-color: black;
  padding: 5px;
  margin-right: 20px;
}

#join-discord-container:hover {
  letter-spacing: 2px;
}

#join-discord {
  text-decoration: none;
  color: white;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#overlay.is-active {
  opacity: 0.5;
}

.page {
  width: 100%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px 0 200px 0;
}

/* Hamburger CSS from https://jonsuh.com/hamburgers/#usage */

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  margin-right: 40px;
  z-index: 100;
  outline: none;
}

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Sidebar from https://www.youtube.com/watch?v=YesSVqjcDts */

#sidebar {
  width: 0px;
  height: 100%;
  background: black;
  padding: 70px 0px;
  position: fixed;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  /* overflow: scroll; */
}

#sidebar.is-active {
  width: 250px;
}

#sidebar ul {
  padding: 0;
  white-space: nowrap;
}

#sidebar ul li {
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: center;
}

#sidebar ul li a {
  color: white;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: letter-spacing 0.2s;
}

#sidebar ul li a .fas {
  width: 25px;
}

#sidebar ul li:hover {
  letter-spacing: 3px;
}

#sidebar .social_media {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.social_media a {
  display: flex;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #f3efe0;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social_media img {
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.social_media a:hover {
  transform: scale(1.1);
}

/* Home */

#home {
  min-height: 100vh;
  margin: 0;

	/* W3C */
	background: linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	/* Firefox */
	background: -moz-linear-gradient(top, #ff3232 0%, #fcf528 16%, #28fc28 32%, #28fcf8 50%, #272ef9 66%, #ff28fb 82%, #ff3232 100%);

	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(16%,#fcf528), color-stop(32%,#28fc28), color-stop(50%,#28fcf8), color-stop(66%,#272ef9), color-stop(82%,#ff28fb), color-stop(100%,#ff3232));

	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	background-size: 1000%;
	-moz-background-size: 1000%;
	-webkit-background-size: 1000%;	

	/* W3C */
	animation-name: fun-time-awesome;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	/* Firefox: */
	-moz-animation-name: fun-time-awesome;
	-moz-animation-duration: 40s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	/* Chrome, Safari */
	-webkit-animation-name: fun-time-awesome;
	-webkit-animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

/* W3C */
@keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Firefox */
@-moz-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Chrome, Safari */
@-webkit-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

#countdown-container {
  border: 1px solid black;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  z-index: 50;
}

#buy-nft {
  position: absolute;
  right: 50px;
  bottom: 100px;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}

#buy-nft:hover {
  scale: 1.1;
}

#buy-nft a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

/* Scroll arrow animation from https://codepen.io/nxworld/pen/OyRrGy */

#home::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50%;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

#home a span {
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll-indicator 2s infinite;
  animation: scroll-indicator 2s infinite;
  box-sizing: border-box;
  z-index: 50;
}
@-webkit-keyframes scroll-indicator {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes scroll-indicator {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* Footer */
#footer {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .social_media {
  display: flex;
}
