.collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}

#collection-headers {
  display: none;
}

.collection-header-item {
  text-align: center;
  flex: 1;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.collection-item img {
  height: 200px;
  width: auto;
}

.collection-item .collection-title {
  margin: 10px 0;
}

.collection .collection-arrow {
  width: 200px;
  transform: rotate(90deg);
  margin: 100px 0;
}

.collection-right {
  width: 100%;
}

.palette {
  position: relative;
  display: grid;
  padding: 20px;
  /* 50 + 2 * (15 + 4) = 88 */
  grid-template-columns: repeat(auto-fill, 88px);
  justify-content: space-between;
}

.collection-spacer {
  height: 0;
}

.collection-color-container {
  position: relative;
  /* collection-color is 50px + 4px borders on each side = 58px */
  height: 58px;
  width: 58px;
  margin: 30px 15px;
  display: flex;
  justify-content: center;
}

.collection-color {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: 4px solid white;
  transition-duration: 0.5s;
}

.collection-color:hover {
  opacity: 0.5;
  cursor: pointer;
}

.collection-color-text {
  position: absolute;
  top: -40px;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .collection-right {
    width: 75%;
  }
}

@media (min-width: 900px) {
  .collection {
    flex-direction: row;
  }

  .collection .collection-arrow {
    transform: rotate(0deg);
    margin: 0;
  }

  .collection-spacer {
    height: 42px;
  }

  .collection-right {
    width: 50%;
  }

  #collection-headers {
    display: flex;
  }
}
