.collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

#collection-headers {
  display: none;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.collection-item img {
  height: 200px;
  width: auto;
}

.collection .collection-arrow {
  width: 200px;
  transform: rotate(90deg);
  margin: 100px 0;
}

.collection-colors {
  width: 50%;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, 78px); /* 50 + 2 * (10 + 4) = 78 */
  justify-content: space-between;
}

.collection-colors::after {
  content: "";
  flex: auto;
}

.collection-color {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 10px 10px;
  border: 4px solid white;
}

@media (min-width: 900px) {
  .collection {
    flex-direction: row;
  }

  .collection .collection-arrow {
    transform: rotate(0deg);
    margin: 0;
  }

  #collection-headers {
    display: flex;
  }
}