/* Home */

/* Background from https://codepen.io/tachy0n/pen/grRYzV */

#home {
  width: 100%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#home {
  width: 100%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

/* #home {
  width: 100%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  /* W3C * /
  background: linear-gradient(
    top,
    #ff3232 0%,
    #fcf528 16%,
    #28fc28 32%,
    #28fcf8 50%,
    #272ef9 66%,
    #ff28fb 82%,
    #ff3232 100%
  );

  /* Firefox * /
  background: -moz-linear-gradient(
    top,
    #ff3232 0%,
    #fcf528 16%,
    #28fc28 32%,
    #28fcf8 50%,
    #272ef9 66%,
    #ff28fb 82%,
    #ff3232 100%
  );

  /* Chrome,Safari4+ * /
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ff3232),
    color-stop(16%, #fcf528),
    color-stop(32%, #28fc28),
    color-stop(50%, #28fcf8),
    color-stop(66%, #272ef9),
    color-stop(82%, #ff28fb),
    color-stop(100%, #ff3232)
  );

  /* Chrome10+,Safari5.1+ * /
  background: -webkit-linear-gradient(
    top,
    #ff3232 0%,
    #fcf528 16%,
    #28fc28 32%,
    #28fcf8 50%,
    #272ef9 66%,
    #ff28fb 82%,
    #ff3232 100%
  );

  background-size: 1000%;
  -moz-background-size: 1000%;
  -webkit-background-size: 1000%;

  /* W3C * /
  animation-name: fun-time-awesome;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;

  /* Firefox: * /
  -moz-animation-name: fun-time-awesome;
  -moz-animation-duration: 40s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-play-state: running;

  /* Chrome, Safari * /
  -webkit-animation-name: fun-time-awesome;
  -webkit-animation-duration: 40s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}
*/

/* W3C */
@keyframes fun-time-awesome {
  0% {
    background-position: left top;
  }
  100% {
    background-position: left bottom;
  }
}

/* Firefox */
@-moz-keyframes fun-time-awesome {
  0% {
    background-position: left top;
  }
  100% {
    background-position: left bottom;
  }
}

/* Chrome, Safari */
@-webkit-keyframes fun-time-awesome {
  0% {
    background-position: left top;
  }
  100% {
    background-position: left bottom;
  }
}

#hero {
  width: 80%;
  color: white;
}

#home-message {
  text-align: center;
}

#countdown-title {
  text-align: center;
}

#countdown-container {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}

#countdown-container.is-active {
  padding: 0 10px 0 10px;
  border-radius: 10px;
  z-index: 1;
}

#countdown {
  font-weight: bold;
  color: white;
  font-size: large;
}

/* Scroll arrow animation from https://codepen.io/nxworld/pen/OyRrGy */

#home::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50%;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

#home a span {
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll-indicator 2s infinite;
  animation: scroll-indicator 2s infinite;
  box-sizing: border-box;
  z-index: 80;
}
@-webkit-keyframes scroll-indicator {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes scroll-indicator {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
