#team {
  align-self: center;
}

#team-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.team-member-container {
  align-items: center;
  text-align: center;
  flex-basis: 100%;
}

.team-member-image img {
  border: 5px solid #58805a;
  border-radius: 65px;
  width: 90%;
  overflow: hidden;
  background-color: #58805a;
}

.team-member-name {
  text-transform: uppercase;
  font-weight:bolder;
}

.team-member-title {
  font-weight: lighter;
}

@media (min-width: 900px) {
  .team-member-container {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .team-member-container {
    flex-basis: 25%;
    max-width: 25%;
  }
}
