#team {
  align-self: center;
}

#team-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.team-member-container {
  align-items: center;
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.team-member {
  border: 5px solid white;
  width: 90%;
  border-radius: 65px;
  margin: auto;
}

.team-member:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.team-member-name {
  text-transform: uppercase;
  font-weight:bolder;
}

.team-member-title {
  font-weight: lighter;
}

@media (min-width: 900px) {
  .team-member-container {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .team-member-container {
    flex-basis: 25%;
    max-width: 25%;
  }
}
